/* global styles */

body {
    background-color: LavenderBlush;
    color: Teal;
    font-size: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    margin: 0;
    padding: 1rem;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  
  /* grid styles */
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
  }
  
  .col {
    background-color:#cce6ff;
    border: LavenderBlush 2px solid;
    border-radius: 8px;
    padding: 16px;
  }
  
  .col-1 { flex-basis: 16.666%; }
  .col-2 { flex-basis: 8.333%; }
  .col-3 { flex-basis: 25%; }
  .col-4 { flex-basis: 33.333%; }
  .col-5 { flex-basis: 41.666%; }
  .col-6 { flex-basis: 50%; }
  /* and so on up to 12 … */